<div id="pageRender">
    <h1>Carrito</h1>
    {{#each cart.products}}
        <div>
            <span>Producto:{{this.product.title}}</span><br>
            <span>ID:{{this.product._id}}</span><br>
            <span>Precio:{{this.product.price}}</span><br>
            <span>Descripcion:{{this.product.description}}</span><br>
            <span>Cantidad: {{this.quantity}}</span><hr>
        </div>
    {{/each}}

</div>
<script src='/socket.io/socket.io.js'></script>