<div>
    <h1>Lista de productos</h1>
    <div id='userRender'>
        <h2>¡Bienvenido {{user.name}}!</h2>
        <li>Email: {{user.email}}</li>
        <li>Edad: {{user.age}}</li>
        <li>Rol: {{user.role}}</li>
        <a href='/api/sessions/logout'><button>Cerrar sesión</button></a>
        <a href='/'><button>Ver perfil</button></a>
        <a href='/carts/{{user.cart}}'><button>Ver carrito</button></a>
    </div>
    <div id='pageRender'>
        <h2>Página <span id='currentPage'>{{results.page}}</span> de {{results.totalPages}}</h2>
        {{#each results.payload}}
            <div>
                <span>Producto:{{this.title}}</span><br />
                <span>ID:{{this._id}}</span><br />
                <span>Precio:{{this.price}}</span><br />
                <span>Descripción:{{this.description}}</span><br />
                <form
                    id='addToCartForm_{{this._id}}'
                    action='/api/carts/{{this.cart}}/product/{{this._id}}'
                    method='POST'
                >
                    <button type='submit' onclick="addToCart(event, '{{this._id}}')">Agregar al carrito</button>
                </form>
                <span id='info_{{this._id}}'></span>
                <hr />
            </div>
        {{/each}}

        {{#if results.hasPrevPage}}
            <a href={{results.prevLink}}><button>Pagina anterior</button></a>
        {{/if}}

        {{#if results.hasNextPage}}
            <a href={{results.nextLink}}><button>Pagina siguiente</button></a>
        {{/if}}

    </div>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/home.js'></script>